.social-icon {
  color: #fff;
  font-size: 2em;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 250px;
}

.facebook:hover {
  color: #4267b2;
}

.twitter:hover {
  color: #1da1f2;
}

.instagram:hover {
  color: red;
}

footer {
  position: absolute;
  background-color: black;
  left: 0;
  bottom: 0;
  height: 250px;
  width: 100%;
}

.shop-location {
  text-align: center;
  font-size: 1em;
  color: #fff;
}

.line {
  width: 90%;
  height: 2px;
  background-color: #fff;
  margin: 50px auto;
}

.icons-container {
  margin-top: 50px;
}
