.price {
  font-size: 1.5em;
  padding-top: 3px;
}

.price-wrapper {
  display: flex;
  vertical-align: center;
}
.item-button {
  color: black;
  font-weight: 600;
}

.item-button-container {
  display: flex;
}

.item-button:hover {
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
